.button {
  -webkit-appearance: none;
  outline: none;
  border-radius: 100px;
  background-color: $salmon;
  font-family: "Amatic SC";
  font-size: 1.6rem;

  &:hover {
    background-color: darken($salmon, 5%);
  }
}

.button--light {
  background: $white;
  color: mix($mint, #333);
  &:hover {
    background-color: $white;
    color: $salmon;
  }
}
