$turquoise: #1abc9c;
$turquoise-dark: #16a085;

$green: #27ae60;
$green-light: #2ecc71;

$blue-light: #3498db;
$blue: #2980b9;

$purple-light: #9b59b6;
$purple: #8e44ad;

$stone-light: #34495e;
$stone: #2c3e50;

$yellow: #f1c40f;
$yellow-dark: #f39c12;

$orange: #e67e22;
$orange-muted: #d35400;

$red: #e74c3c;
$red-dark: #c0392b;

$white: #fff;
$gray-light: #ecf0f1;
$gray: #bdc3c7;
$gray-dark: #95a5a6;
$gray-darker: #7f8c8d;
$black: #333; // <- its all lies! Muhaahaha!

$spacing: 20px;
$spacing-half: $spacing/2;

$color-text: #555;

$mobile: 767px;

@import "core/variables";
$white: #fff;
$global-radius: 3px;
@import "core/icons";

@import "object/card";

@import "ui/button";
@import "ui/card";
@import "ui/footer";

@import "layout/core";
$mobile: 767px;
@import "core/typography";
.box--mint {
  background: $mint;

  h1 {
    text-shadow: 3px 3px 0 $salmon;
  }
}

.cb-checkbox.checked .cb-inner {
  background-color: $salmon;
  border-color: darken($salmon, 5%);
}

.cb-checkbox:hover .cb-inner {
  border-color: $gray;
}

.progress .meter {
  background: $mint;
  background: asset-url("themes/popcorn/stripes.png");
}

#ballons {
  position: relative;
}

#balloon01 {
  position: absolute;
  width: 100%;
  padding-bottom: 1% * floor(100 * (67.96/551.39));
  background-image: asset-url("themes/popcorn/balloon_01.svg");
  background-size: 100%;
}

#balloon02 {
  position: absolute;
  width: 100%;
  padding-bottom: 1% * floor(100 * (67.96/551.39));
  background-image: asset-url("themes/popcorn/balloon_02.svg");
  background-size: 100%;
}

#balloon03 {
  position: absolute;
  width: 100%;
  padding-bottom: 1% * floor(100 * (67.96/551.39));
  background-image: asset-url("themes/popcorn/balloon_03.svg");
  background-size: 100%;
}

#bridge {
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  padding-bottom: 1% * floor(100 * (161.46/551.39));
  background-image: asset-url("themes/popcorn/bridge.svg");
  background-size: 100%;
}

#couple {
  position: absolute;
  right: 0; bottom: 0; left: 0;
  height: 100%;
  background-image: asset-url("themes/popcorn/couple.svg");
  background-size: 100%;
  &.animate {
    animation: jump 1s 1 cubic-bezier(0.600, -0.280, 0.735, 0.045);;
    -webkit-animation: jump 1s 1 cubic-bezier(0.600, -0.280, 0.735, 0.045);;
  }
}

#blood {
  background: asset-url("themes/popcorn/blood.png") 0 0 no-repeat;
  width: 1000px;
  height: 486px;

  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -500px;

  animation: blood-cycle 1s steps(13) 1;
  -webkit-animation: blood-cycle 1s steps(13) 1;
  display: none;
}

p {text-align: center;}
